{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
<div class="row">
<div class="col-md-12" id="aboutcol">
<h3> About</h3>

  </div>

  </div>
<div class="row">
<div class="col-md-12">
<p id="pp">Bloggy is an educational site providing content on Programming,
   Web Development, Science & Technology, GATE, UPSC, Jobs, Exams, Academics,
   and much other content to all the Users and building the best education system for everyone.
    In bloggy, we write simple and easy to understand tutorials covering all the essential topics of Programming,
     Web Development, Science & Technology, Academics, GATE, UPSC, Exams & Jobs.  </p>
<h3 id="h3cen">Important Disclaimer</h3>
<p id="pp">
We are not affiliated/associated with Any Other Site.

For advertising opportunities or any queries regarding the site so drop a mail, we will respond you quickly
<a>bloggystacker@gmail.com</a>
</p></div>
  </div>
  </div>
{% endblock content %}
