{% extends "base.html" %}{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row" id="chemicalrow" style=" padding-top: 50px;
">
    <div class="col-md-12" style="min-height: 800px;
    padding-top: 5px;">
<div class="row">
<div class="col-md-12" style="padding:0px !important;">
<div class="gatebanner">
  <div class="media">
    <img class="align-self-center mr-3" style="    height: 170px;" src="{% static "img/dr.jpg" %}" alt="Generic placeholder image">
    <div class="media-body">
      <h2 class="" style="color:#464646;">Chemistry</h2>
    <h3 style="color:#696969;">DR ANJANI KUMAR PANDEY</h3>
    </div>
  </div>
</div>
  </div>
  </div>
  <div class="row" style="     padding-top: 20px;   background: #e2e2e2;">
  <div class="col-md-12">

<div class="row">
  <div class="col-md-12">
    <div class="row">
          <div class="col-md-12">
            <h2 id="headingpad">INTRODUCTION</h2>
            </div>

      </div>
      <div class="row">
<div class="col-md-3">
<div class="video">
  <div class="card" >

  <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/CCCSYstD0hQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <div class="card-body">
    <h5 class="card-text">	Some Basic Concepts of Chemistry (Introduction)</h5>
  </div>
</div>
  </div>
  </div>
  <div class="col-md-3">
  <div class="video">
  <div class="card" >

  <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/AFCM_TGmui0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <div class="card-body">
  <h5 class="card-text"> SOME FUNDAMENTAL CONCEPT OF CHEMISTRY LECTURE:- 01</h5>
  </div>
  </div>
  </div>
  </div>
  <div class="col-md-3">
  <div class="video">
    <div class="card" >

    <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/edkFk7A0iM4"   frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="card-body">
      <h5 class="card-text">FUNDAMENTAL CONCEPT OF CHEMISTRY LECTURE :-02</h5>
    </div>
  </div>
    </div>
    </div>

    <div class="col-md-3">
    <div class="video">
      <div class="card" >

      <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/oB1IDXM7UdU"   frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <div class="card-body">
        <h5 class="card-text"> FUNDAMENTAL CONCEPT OF CHEMISTRY LECTURE :-03</h5>
      </div>
    </div>
      </div>
      </div>
</div>
</div>
<div class="col-md-12">
  <div class="row">
        <div class="col-md-12">
          <h2 id="headingpad">CHEMICAL KINETICS</h2>
          </div>

    </div>
    <div class="row">



  <div class="col-md-3">
  <div class="video">
    <div class="card" >

    <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/AvU_JeDRYUs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="card-body">
      <h5 class="card-text">	 CHEMICAL KINETICS LECTURE - 1</h5>
    </div>
  </div>
    </div>
    </div>
    <div class="col-md-3">
    <div class="video">
      <div class="card" >

      <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/2K2OjvPpXr4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <div class="card-body">
        <h5 class="card-text">CHEMICAL KINETICS LECTURE - 2</h5>
      </div>
    </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="video">
        <div class="card" >

        <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/Epm2s_hP2HM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="card-body">
          <h5 class="card-text">CHEMICAL KINETICS LECTURE:‐03</h5>
        </div>
      </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="video">
          <div class="card" >

          <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/sx5kYY0KT_Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <div class="card-body">
            <h5 class="card-text">	 CHEMICAL KINETICS LECTURE:‐04</h5>
          </div>
        </div>
          </div>
          </div>
          <div class="col-md-3">
          <div class="video">
            <div class="card" >

            <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/EEe1IbhqJLo"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <div class="card-body">
              <h5 class="card-text">CHEMICAL KINETICS LECTURE:‐05</h5>
            </div>
          </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="video">
              <div class="card" >

              <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/L1f85BtE4Ic"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              <div class="card-body">
                <h5 class="card-text">CHEMICAL KINETICS LECTURE :‐06 (12STD & FOR HONS.CLASSES )</h5>
              </div>
            </div>
              </div>
              </div>



                  <div class="col-md-3">
                  <div class="video">
                    <div class="card" >

                    <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/793UefX2Gy0"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-body">
                      <h5 class="card-text">CHEMICAL KINETICS ( NUMERICAL PROBLEM - 1 )</h5>
                    </div>
                  </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="video">
                      <div class="card" >

                      <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/N4VFL7eAuSI"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                      <div class="card-body">
                        <h5 class="card-text">CHEMICAL KINETICS ( NUMERICAL PROBLEM -2 )</h5>
                      </div>
                    </div>
                      </div>
                      </div>
                      <div class="col-md-3">
                      <div class="video">
                        <div class="card" >

                        <iframe class="card-img-top" width="250" height="150"src="https://www.youtube.com/embed/N4VFL7eAuSI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <div class="card-body">
                          <h5 class="card-text">CHEMICAL KINETICS ( NUMERICAL PROBLEM -3 )</h5>
                        </div>
                      </div>
                        </div>
                        </div>

                      <div class="col-md-3">
                      <div class="video">
                        <div class="card" >

                        <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/JoBkyLhVoTs"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <div class="card-body">
                          <h5 class="card-text">12STD & HONS.CLASSES NUMERICAL RELATED TO CHEMICAL KINETICS</h5>
                        </div>
                      </div>
                        </div>
                        </div>
                        <div class="col-md-3">
                        <div class="video">
                          <div class="card" >

                          <iframe class="card-img-top" width="250" height="150"src="https://www.youtube.com/embed/DHZCuIL8e_g"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                          <div class="card-body">
                            <h5 class="card-text">12TH CHEMICAL KINETICS OBJECTIVES QUESTION</h5>
                          </div>
                        </div>
                          </div>
                          </div>

                        </div>
                        </div>

                        <div class="col-md-12">
                          <div class="row">
                                <div class="col-md-12">
                                  <h2 id="headingpad" >MOLE CONCEPT</h2>
                                  </div>

                            </div>
                            <div class="row">
                        <div class="col-md-3">
                        <div class="video">
                          <div class="card" >

                          <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/aKVJweaeCf0"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                          <div class="card-body">
                            <h5 class="card-text">MOLE CONCEPT</h5>
                          </div>
                        </div>
                          </div>
                          </div>

                            <div class="col-md-3">
                            <div class="video">
                              <div class="card" >

                              <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/tcis3vdkvKA"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                              <div class="card-body">
                                <h5 class="card-text">MOLE CONCEPT PART-2</h5>
                              </div>
                            </div>
                              </div>
                              </div>
                              <div class="col-md-3">
                              <div class="video">
                                <div class="card" >

                                <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/ogu3qh5bJH8"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                <div class="card-body">
                                  <h5 class="card-text">NUMERICAL ON MOLE CONCEPT</h5>
                                </div>
                              </div>
                                </div>
                                </div>
                                </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="row">
                                        <div class="col-md-12">
                                          <h2 id="headingpad">ELECTROCHEMISTRY</h2>
                                          </div>

                                    </div>
                                    <div class="row">
                              <div class="col-md-3">
                              <div class="video">
                                <div class="card" >

                                <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/w4andKtSUmA"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                <div class="card-body">
                                  <h5 class="card-text">12TH ELECTROCHEMISTRY LECTURE:‐01</h5>
                                </div>
                              </div>
                                </div>
                                </div>
                                </div>
                                </div>




  <div class="col-md-12">
  <div class="row">
  <div class="col-md-12">
      <h2 id="headingpad">MATTER & IT'S CLASSIFICATION</h2>
          </div>

                          </div>
                  <div class="row">


            <div class="col-md-3">
            <div class="video">
              <div class="card" >

              <iframe class="card-img-top" width="250" height="150" src="https://www.youtube.com/embed/o1mgj-2vfzM"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              <div class="card-body">
                <h5 class="card-text">MATTER & IT'S CLASSIFICATION LECTURE :-02</h5>
              </div>
            </div>
              </div>
              </div>
</div>
</div>
              </div>


                </div>


    </div>
    <div class="row">
    <div class="col-md-12">


      </div>
      </div>
  </div>
  </div>
  </div>
{% endblock%}
