{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>

  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
  </head>
<div class="container">
<div class="row">
<div class="col-md-12" id="aboutcol">
<h3>Disclaimer</h3>

  </div>

  </div>
<div class="row">
<div class="col-md-12">
<p id="pp">All logos and Trademarks used in this site belongs to there respective owners.

Please keep in mind that we are also humans, so sometimes mistakes or errors might have crept in unintentionally.

Your access to and use of the website is conditioned on your acceptance of and compliance with these terms. These terms apply to all visitors, users and others who access or use the website.

By accessing or using the website you agree to be bound by these terms. If you disagree with any part of the terms then you may not access this website.

Our Website may contain links to third-party websites or services that are not owned or controlled by BloggyStacker.

BloggyStacker has no control over and assumes no responsibility for, the content, privacy policies, or practices of any third party websites or services. You further acknowledge and agree that BloggyStacker shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such websites or services

If any logo, image or content on our websites violates the copyright norms, contact us we will remove the content, trademark/logo from our website within 3 days.</p>
<h3 id="h3cen">Important disclaimer</h3>
<p id="pp">
We are not affiliated/associated with Any other sites.

For advertising opportunities or any queries regarding the site visit here
</p></div>
  </div>
  </div>
{% endblock content %}
