{% extends "base.html" %}{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row" style="    padding-top: 55px;
">
    <div class="col-md-12" style="min-height:800px;">
<div class="row">
<div class="col-md-12" style="padding: 0px !important;">
<div class="gatebanner1">
  <div class="media">
    <img class="gateimg" style=" " src="{% static "img/gate1.webp" %}" alt="Generic placeholder image">
    <div class="media-body">
      <h1 style="font-weight:900;">Gate Exam</h1>
    <h4>Gate Exam Tutorials and Study Materials</h4>
    </div>
  </div>
</div>
  </div>
  </div>
  <div class="row" style="    ">
  <div class="col-md-12" style="padding-top: 50px;">
<div class="row">

<div class="col-md-3">
  <div class="course_content">
  <a style=" color:#fff;" href="http://www.bloggystacker.com/bloggyapp/gate-syllabus-for-2021all-stream-download-gate-2021-syllabus/">
     <div class="media">
      <img class="align-self-center mr-2" src="{% static "img/icons/syllabus.svg" %}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">Gate Syllabus</h5>

    </div>
</div>
</a>
</div>
  </div>
  <div class="col-md-3">
    <div class="course_content">
      <div class="media">
        <img class="align-self-center mr-2" src="{% static "img/icons/fc.svg" %}" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">Computer Fundamentals</h5>

      </div>
  </div>
  </div>
    </div>
    <div class="col-md-3">
      <div class="course_content">
        <div class="media">
          <img class="align-self-center mr-2" src="{% static "img/icons/db.svg" %}" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">DBMS</h5>

        </div>
    </div>
    </div>
      </div>
      <div class="col-md-3">
        <div class="course_content">
          <div class="media">
            <img class="align-self-center mr-2" src="{% static "img/icons/cn.svg" %}" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">Computer Network</h5>

          </div>
      </div>
      </div>
        </div>
        <div class="col-md-3">
          <div class="course_content">
            <div class="media">
              <img class="align-self-center mr-2" src="{% static "img/icons/os.svg" %}" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Operating Systems </h5>

            </div>
        </div>
        </div>
          </div>
          <div class="col-md-3">
            <div class="course_content">
              <div class="media">
                <img class="align-self-center mr-2" src="{% static "img/icons/compiler.svg" %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">Compiler Design</h5>

              </div>
          </div>
          </div>
            </div>
            <div class="col-md-3">
              <div class="course_content">
                <div class="media">
                  <img class="align-self-center mr-2" src="{% static "img/icons/discrete.svg" %}" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Discrete Mathmatics</h5>

                </div>
            </div>
            </div>
              </div>
              <div class="col-md-3">
                <div class="course_content">
                  <div class="media">
                    <img class="align-self-center mr-2" src="{% static "img/icons/wt.svg" %}" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0">Web Technologies</h5>

                  </div>
              </div>
              </div>
                </div>

  </div>

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">


      </div>
      </div>
  </div>
  </div>
  </div>
{% endblock%}
