{% extends "base.html" %}{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row" id="chemicalrow" style="    padding-top: 50px;
">
    <div class="col-md-12"  style="min-height: 800px;
    padding-top: 5px;">
<div class="row">
<div class="col-md-12">
<div class="gatebanner">
  <div class="media">
    <img class="align-self-center mr-3" style="    height: auto;
    width: 200px;" src="{% static "img/science.jpg" %}" alt="Generic placeholder image">
    <div class="media-body">
      <h1 class="">SCIENCE</h1>
    <h3>Science Syllabus 11th 12th</h3>
    </div>
  </div>
</div>
  </div>
  </div>
  <div class="row" style="    ">
  <div class="col-md-12">


  </div>

    </div>

    <div class="row">
    <div class="col-md-12">


      </div>
      </div>
  </div>
  </div>    </div>

{% endblock%}
