{% extends "base.html" %}{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row" style="    padding-top: 55px;
">
    <div class="col-md-12" style="min-height:800px;">
<div class="row">
<div class="col-md-12" style="padding: 0px !important;">
<div class="gatebanner1" STYLE="    background-image: NONE !important;">
  <div class="media">
    <img class="align-self-center mr-3" style="    HEIGHT: 155PX;
    WIDTH: 172PX;
    PADDING: 0PX !IMPORTANT; " src="{% static "img/UPSC.png" %}" alt="Generic placeholder image">
    <div class="media-body">
      <h1 style="    font-weight: 800;">UPSC Exam</h1>
    <h3 id="latestabout">Latest About UPSC</h3>
    </div>
  </div>
</div>
  </div>
  </div>
  <div class="row" style="    ">
  <div class="col-md-12">
<div class="row">

<div class="col-md-3">
  <div class="course_content" style="">
    <div class="media">
      <img class="align-self-center mr-2" src="{% static "img/icons/syllabus.svg" %}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">UPSC Syllabus</h5>

    </div>
</div>
</div>
  </div>
  <div class="col-md-3">
    <div class="course_content">
      <div class="media">
        <img class="align-self-center mr-2" src="{% static "img/icons/chem.svg" %}" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">CHEMISTRY PART 1</h5>

      </div>
  </div>
  </div>
    </div>
    <div class="col-md-3">
      <div class="course_content">
        <div class="media">
          <img class="align-self-center mr-2" src="{% static "img/icons/chem2.svg" %}" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0">CHEMESTRY PART 2</h5>

        </div>
    </div>
    </div>
      </div>
      <div class="col-md-3">
        <div class="course_content">
          <div class="media">
            <img class="align-self-center mr-2" src="{% static "img/icons/geography.svg" %}" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">GEOGRAPHY</h5>

          </div>
      </div>
      </div>
        </div>
        <div class="col-md-3">
          <div class="course_content">
            <div class="media">
              <img class="align-self-center mr-2" src="{% static "img/icons/polity.svg" %}" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">INDIAN POLITY</h5>

            </div>
        </div>
        </div>
          </div>
          <div class="col-md-3">
            <div class="course_content">
              <div class="media">
                <img class="align-self-center mr-2" src="{% static "img/icons/resoning.svg" %}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">REASONING</h5>

              </div>
          </div>
          </div>
            </div>
            <div class="col-md-3">
              <div class="course_content">
                <div class="media">
                  <img class="align-self-center mr-2" src="{% static "img/icons/quant.svg" %}" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">QUANTATIVE APTITUDE</h5>

                </div>
            </div>
            </div>
              </div>
              <div class="col-md-3">
                <div class="course_content">
                  <div class="media">
                    <img class="align-self-center mr-2" src="{% static "img/icons/general.svg"" %}" alt="Generic placeholder image">
                  <div class="media-body">
                    <h5 class="mt-0">GENERAL KNOWLEDGE</h5>

                  </div>
              </div>
              </div>
                </div>

  </div>

    </div>
    </div>
    <div class="row">
    <div class="col-md-12">


      </div>
      </div>
  </div>
  </div>
  </div>
{% endblock%}
